/* <-------------------Element Tags -------------------> */

body{
      margin: 0%;
      text-align: center;

} 
h1{
      margin: 0 auto 0;
      font-size: 60pt;
      font-family: 'Permanent Marker', cursive;
}

h3{
      font-family: 'Montserrat', sans-serif;
      font-weight: 800; 
}

p{
      margin: 0 auto 0;
      font-family: 'Montserrat', sans-serif;
}

a:visited{
      text-decoration: none;
}

a{
      text-decoration: none;
}

hr{
      border: dotted #379f8c 6px;
      border-bottom: none;
      border-left: none;
      border-right: none;
      padding-bottom: 10px;
      width: 10%;
      clear: both;
}



/* <-------------------Class Tags -------------------> */

.top-container{
      background-color: #379f8c;
      position: relative;
      width: 100%;
      margin: 0 auto;
      height: 100vh;
}

.middle-container{
      margin-bottom: 50px;
}

.bottom-container{
      background-color: black;
      margin-bottom: 0;
      height: 150px;
      position: relative;
}

.navigation{
      height: 150px;
      width: 100%;
      position: relative;
}

.nav{
      display: grid;
      grid-template-columns: repeat(4, 200px);
      align-items: center;
      justify-content: center;
}

.navigation-links{
      align-self: center;
      margin-top: 20px;
      
      display: inline;
      color: black;    
}
.navigation-links:hover{
      color: azure;
}

.intro-container{
      width: 60%;
      margin: 0 auto 0 auto;
}
.intro-sub-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-content: center;
      margin-right: auto;
      margin-left: auto;
}

.intro-text{
      text-align: left;
      align-self: center;
}

.computer-image{
      align-self: center;
      width: 550px;
}

.icons{
      height: 30px;
      width: 30px;
}

.about-row{
      width: 50%;
      margin: 100px auto 100px auto;
}

.about-image{
      
      float: left;
      border-radius: 100%;
      margin-right: 50px;
      width: 200px;
}

.about-text{
      text-align: left;
      line-height: 2;
      margin-top: 20px;
}

.projects-text{
      text-align: center;
      padding: 50px;
}

.skill-row{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-left: 250px;
      margin-right: 100px;
}

.skill-grid{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin-left: 100px;
      margin-right: 100px;
}

.skills-header{
      text-align: center;
}

.skill-text{
      text-align: center;
      padding: 50px;
      font-weight: bolder;
}

.skill-icon{
      width: 80px;
      margin-bottom: 20px;
}

.skill-div{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-left: 10px;
      margin-right: 10px;
}

.skill-span{
      padding-top: 40px;
      text-align: left;
}

.skills-photo{
      width: 800px;
}

.skill{
      padding: 20px
}

.footer{
      display: box;
      padding-top: 30px;
      color: white;
}

.footer-text{
      padding-bottom: 10px;

}

.spacer{
      height: 50px;
}

/* <-------------------ID Tags -------------------> */

#about-link,
#projects-link,
#skills-link,
#contact-link{
      font-size: 20pt;
}

#hello-text{
      padding-bottom: 0;
      font-size: 20pt;
      font-family: 'Roboto', sans-serif;
}

#linkedin-icon{
  border-radius: 5px;    
}

#github-icon{
      left: 440px;
      border-radius: 100px;
}
